{% extends 'base.html' %}

{% load static %}


{% block title %}


{% endblock title %}


{% block navbar %}

    {% include 'components/navbar.html' %}

{% endblock navbar %}

{% block header %}
    
    {% include 'components/home/header.html' %}


{% endblock header %}

{% block content %}


    {% include 'components/home/read.html' %}


    {% include 'components/home/calculator.html' %}


    {% include 'components/home/articles.html' %}
   

{% endblock content %}




{% block footer %}

    {% include 'components/footer.html' %}

{% endblock footer %}

{% block javascript %}
    {% include 'components/scripts.html' %}
{% endblock javascript %}