<!-- Container for demo purpose -->
<div class="md:container md:my-24 my-10 px-6 mx-auto">

  <!-- Section: Design Block -->
  <section class="mb-10 text-gray-800">

    <h2 class="text-3xl font-bold mb-12 text-center dark:text-neutral-300 ">Últimos Artículos</h2>

    <div class="grid lg:grid-cols-3 gap-6">
      {% for categoria, posts in posts_category.items %}
    
      {% for post in posts %}
    
      
      <div class="relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg" style="background-position: 50%;"
        data-mdb-ripple="true" data-mdb-ripple-color="light">
        <img src="{{post.image.url}}" class="w-full h-full object-cover" />
        <a href="{{post.category.slug}}/{{post.slug}}">
        <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
          style="background-color: rgba(0, 0, 0, 0.4)">
          <div class="flex justify-start items-end h-full">
          <div class="text-white m-6">
            <h5 class="font-bold text-lg mb-3">{{post.title}}</h5>
            <p>
            <small>Publicado {{post.published | date:'d M Y'}} {{post.author.first_name}} {{post.author.last_name}}</small>
            </p>
          </div>
          </div>
        </div>
        </a>
      </div>
     
    
    
      {% endfor %}
    
    {% endfor %}
    
    
      

    
   

    

 

   
    </div>

    

  </section>
  <!-- Section: Design Block -->

</div>
<!-- Container for demo purpose -->




  