<!-- Container for demo purpose -->
<div class="md:container mx-4 md:mx-auto my-16 md:px-6 mt-32 ">
    <!-- Section: Design Block -->
    <section class="mb-32">
      <h2 class="mb-12 text-center text-3xl font-bold">Reconocidos científicos.</h2>

      {% for post in posts %}
        {% if not forloop.counter|divisibleby:2 %}
  
      <div class="mb-16 flex flex-wrap">
        <div class="mb-6 w-full shrink-0 grow-0 basis-auto lg:mb-0 lg:w-6/12 lg:pr-6">
          <div
            class="ripple relative overflow-hidden rounded-lg bg-cover bg-[50%] bg-no-repeat shadow-lg dark:shadow-black/20"
            data-te-ripple-init data-te-ripple-color="light">
            <img src={{post.image.url}} class="w-full lg:max-h-[25rem] object-cover " alt="Louvre" />
            <a href="{{post.slug}}">
              <div
                class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-[hsl(0,0%,98.4%,0.2)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100">
              </div>
            </a>
          </div>
        </div>
  
        <div class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 lg:pl-6">
          <a href="{{post.slug}}">
            <h3 class="mb-4 text-2xl font-bold">{{ post.title }}</h3>
          </a>
          <div class="mb-4 flex items-center text-sm font-medium text-primary">
           <a href="{% url 'scientist' %}">
            Científicos
           </a>
            
          </div>
          <p class="mb-6 text-sm text-neutral-500 dark:text-neutral-400">
            Publicado {{post.published | date:'d M Y'}} por
            {{post.author.first_name}} {{post.author.last_name}}
          </p>
          <p class="mb-6 text-neutral-500 dark:text-neutral-300">
            {{ post.description }}
          </p>
        </div>
      </div>

       {% else %}
  
      <div class="mb-16 flex flex-wrap lg:flex-row-reverse">
        <div class="mb-6 w-full shrink-0 grow-0 basis-auto lg:mb-0 lg:w-6/12 lg:pl-6">
          <div
            class="ripple relative overflow-hidden rounded-lg bg-cover bg-[50%] bg-no-repeat shadow-lg dark:shadow-black/20"
            data-te-ripple-init data-te-ripple-color="light">
            <img src={{post.image.url}} class="w-full lg:max-h-[25rem] object-cover" alt="Louvre" />
            <a href="{{post.slug}}">
              <div
                class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-[hsl(0,0%,98.4%,0.2)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100">
              </div>
            </a>
          </div>
        </div>
  
        <div class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 lg:pr-6">
          <a href="{{post.slug}}">
            <h3 class="mb-4 text-2xl font-bold">{{ post.title }}</h3>
          </a>
          <div class="mb-4 flex items-center text-sm font-medium text-primary">
           
            <a href="{% url 'scientist' %}">
              Científicos
            </a>
          </div>
          <p class="mb-6 text-sm text-neutral-500 dark:text-neutral-400">
            Publicado {{post.published | date:'d M Y'}} por
            {{post.author.first_name}} {{post.author.last_name}}
          </p>
          <p class="text-neutral-500 dark:text-neutral-300">
            {{ post.description }}
          </p>
        </div>
      </div>

        {% endif %}
      {% endfor %}
  
     
    </section>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->